p.
  #{sentence}
ul
  each i in interpretation
    li= i
p.
  Antwort gegeben: #{answer}
p.
  korrekte Antwort: #{expected}
p.
  gegebene Antwort ist: #{result}

form(action="al_tof/post" method="POST")
  input(type="hidden" name="method" value="next")
  input(type="submit" value="nächste Frage")
