p.
  Frage #{n_params.current_question}
p.
  #{question.sentence}
ul
  each i in question.interpretation
    li= i
p.
  Antwort gegeben: #{answer ? "wahr" : "falsch"}
p.
  korrekte Antwort: #{question.expected ? "wahr" : "falsch"}
p.
  gegebene Antwort ist: #{result ? "korrekt" : "nicht korrekt"}

form(action="al_tof/next" method="POST")
  input(type="submit" value="weiter")
