p.
  Punkte erreicht: #{n_params.points_achieved} von #{n_params.points_required}
p.
  Zeit: #{n_params.time_elapsed / 1000}s#{n_params.time_limit != 0 ? ", Limit war: " + (n_params.time_limit / 1000) + "s" : ""}
p.
  Übung war #{success ? 'erfolgreich' : 'nicht erfolgreich'}
form(action="home" method="GET")
  input(type="submit" value="zurück")
