//- Copyright 2023 Ole Kliemann
//- SPDX-License-Identifier: GPL-3.0-or-later

main.yes-no-exercise
  section.yes-no-exercise.finished
    div.total-result
      p Punkte erreicht: #{n_params.points_achieved} von #{n_params.points_required}
      p Zeit: #{n_params.time_elapsed / 1000}s#{n_params.time_limit != 0 ? ", Limit war: " + (n_params.time_limit / 1000) + "s" : ""}
      p
        | Übung war 
        strong #{success ? 'erfolgreich' : 'nicht erfolgreich'}
    div.home
      a(href="/logicjs/app/home")
        button.home-button zurück
